@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --primary: #e20074;
}

/* chat scrollbar */
.custom-scrollbar {
  padding-right: 8px;
  scrollbar-width: thin;
  scrollbar-color: #555 #1d1d1d;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1d1d1d;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
  border: 2px solid #1d1d1d;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

/* sidebar */
.delete-icon {
  visibility: hidden;
  margin-left: 5px;
  color: inherit;
}

.delete-icon:hover {
  color: red !important;
}

.conversation-item:hover .delete-icon {
  visibility: visible;
}

.conversation-item {
  display: flex;
  gap: 10px;
}

/* upload */
.upload-file .ant-upload-list-item:hover {
  cursor: pointer;
  color: #1677ff;
}

/* three dots */
.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: #e20074;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  animation-delay: -0.16s;
}

.dot:nth-child(3) {
  animation-delay: 0s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

